/*
 * WordCamp 2019 styles
 * Author: Dylan Hildenbrand
 * Author Website: https://www.closingtags.com/
 *
 */


/* Colors */
$red: #d7695c;
$blue: #42627f;
$light_blue: #83cddc;
$dark_blue: #26384e;
$white: #f6fafa;



html {
	font-size: 12px;
	
	/* General */
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	button {
		background: $dark_blue;
		border: none;
		box-shadow: none;
		color: $white;
		border-radius: 2px;
		text-shadow: none;
		&:hover {
			color: $red;
			background: $blue;
			border: none;
		}
	}
	body, body.single-wcb_sponsor {
		background-color: $white;
		//a {
		//	color: $red;
		//	&:hover {
		//		color: $dark_blue;
		//	}
		//}
		
		/* Navigation */
		nav.main-navigation, nav.main-small-navigation {
			background: $dark_blue;
			.menu {
				border-bottom: 4px solid $blue;
				border-top: 4px solid $blue;
				li {
				//	a {
				//		color: $red;
				//		background: $dark_blue;
				//		&:hover {
				//			color: $white;
				//		}
				//	}
				}
			}
		}
		/* Content */
		#main {
			#content {
				.wp-post-image {
					display: none;
				}
				.entry-title {
					top: 0;
				}
			}
		}
	}
}
