/*
 * WordCamp 2019 styles
 * Author: Dylan Hildenbrand
 * Author Website: https://www.closingtags.com/
 *
 */


/* Colors */
$red: #d7695c;
$blue: #42627f;
$light_blue: #83cddc;
$dark_blue: #26384e;
$white: #f6fafa;

html {
	body {
		background-color: $white;
		a {
			color: $red;
			&:hover {
				color: $dark_blue;
			}
		}
	}
}

/* Navigation */
nav.main-navigation, nav.main-small-navigation {
	background: $dark_blue;
	.menu {
		border-bottom: 4px solid $blue;
		border-top: 4px solid $blue;
		li {
			a {
				color: $white;
				background: $dark_blue;
				&:hover {
					color: $red;
				}
			}
		}
	}
}
