/*
 * WordCamp 2019 styles
 * Author: Dylan Hildenbrand
 * Author Website: https://www.closingtags.com/
 *
 */


/* Colors */
$red: #d7695c;
$blue: #42627f;
$light_blue: #83cddc;
$dark_blue: #26384e;
$white: #f6fafa;


/* General */
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 13px;
}
h5 {
	font-size: 11px;
}

html {
	font-size: 12px;
	body {
		background-color: $white;
		a {
			color: $red;
			&:hover {
				color: $dark_blue;
			}
		}
		.site-content {
			max-width: 80%;
			margin: 0 auto;
		}
	}
}

/* Navigation */
nav.main-navigation, nav.main-small-navigation {
	background: $dark_blue;
	.menu {
		border-bottom: 4px solid $blue;
		border-top: 4px solid $blue;
		li {
			a {
				color: $white;
				background: $dark_blue;
				&:hover {
					color: $red;
				}
			}
		}
	}
}
